bitsandbytes==0.44.1
chromadb==0.5.11
faiss-cpu==1.8.0.post1
huggingface-hub==0.23.5
langchain==0.3.2
langchain-community==0.3.1
llama-index==0.11.16
llama-index-embeddings-huggingface==0.3.1
llama-index-llms-huggingface==0.3.4
llama-index-vector-stores-faiss==0.2.1
nltk==3.9.1
pandas==2.2.3
pinecone-client==5.0.1
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
pymongo==4.10.1
PyMuPDF==1.24.11
pypdf==4.3.1
PyPDF2==3.0.1
regex==2024.9.11
tokenizers==0.20.0
torch==2.4.1
tqdm==4.66.5
transformers==4.45.1
